.landing__main {
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.landing__main h1 {
    text-align: center;
    opacity: 0;
    animation: show 500ms ease-in-out 500ms forwards;
}

.landing__main a {
    opacity: 1;
    box-shadow: 0 3px var(--primary-color);
    padding: 8px 20px;
    background-color: var(--third-color);
    opacity: 0;
    animation: up 500ms ease-in-out 1000ms forwards;
}

