.shop__main {
    flex-direction: column;
    opacity: 0;
    animation: show 1000ms ease-in-out 5000ms forwards;
}

.shop__main > header {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 3px 0;
    color: #fff;
}

.shop__main > header h2 {
    font-size: 18px;
}

.shop__main > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}



/*---------------------------ARTICLE----------------------------------*/
.shop__main > section > article {
    padding: 10px;
    box-shadow: 1px 1px 5px gray;
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;

}

.shop__main > section > article > figure {
    position: relative;
    height: 300px;
  
}

.shop__main > section > article > figure p {
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: black;
    margin: 0;

}

.shop__main > section > article > section {
    padding: 10px 0;
    display: flex;
    flex-direction: column; 
    position: relative;

   
}

.shop__main > section > article > section h3 {
    margin: 0;
}

.shop__main > section > article > section p {
    margin: 4px 0;
}

.shop__main > section > article > section > button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.shop__main > section > article > section > button > section {
    width: 50%;
    display: flex;
    align-items: center;
}

.shop__main > section > article > section > button > section:nth-of-type(1) p {
    text-align: center;
    margin: auto;
    color: var(--third-color);

}

.shop__main > section > article > section > button > section:nth-of-type(2) {
    justify-content: space-evenly;
}

.shop__main > section > article > section > button > section:nth-of-type(2) > span {
    color: #fff;
    font-weight: bold;
}
.shop__main > section > article > section > button > section:nth-of-type(2) em {
    text-decoration: line-through;
    color: var(--third-color);
}

.shop__main > section > article > section::before {
    content: '';
    background-color: var(--third-color);
    height: 2px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}


/*-----------------------MEDIA QUERIES-------------------------------*/



@media (0<= width <= 415px){
    .shop__main > section {
        flex-direction: column;
        margin-bottom: 100px;
    }
    .shop__main > section > article {
        width: unset;
    }
}
