* {
	box-sizing: border-box;
}

html {
	font-family: 'Raleway', 'Roboto, sans-serif';
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

button {
	padding: 1rem 2rem;
	border: none;
}

button:hover {
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	padding: 0;
}

figure {
	padding: 0;
	margin: 0;
}

img {
	object-fit: cover;
	width: 100%;
}

input {
	padding: 10px;
	outline: none;
	border: none;
}
