/*object oriented css*/

.fixed-top{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	/*équivaut à écrire width 100% */
	z-index: 10;
}

.fixed-bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.page{
	margin-top: 8vh;
	display: flex;
}