
/*object oriented css */
.page {
    display: flex;
    margin-top: 8vh;
}

.full-absolute {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -2;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index:10;

}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
